@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #57a5ffe3;
}

#data {
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
}

#userData {
    font-size: 0.8em;
}

h1 {
    font-weight: 700;
}

h2 {
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    background: #fff;
    border: 1px solid #ccc;
}

form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background: #08d101;
    color: #000000;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0fb300;
}

#information {
    padding: 20px;
    background: #e8f4f8;
    color: red;
    font-size: 0.8em;
    border: 1px solid #ccc;
}

.error {
    color: red;
    font-size: 0.8em;
}